<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regenerative Dentistry CE Opportunities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        
    /* RESET STYLES */
    img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
    table { border-collapse: collapse !important; }
    body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }
        
    @media (max-width: 425px) {
        /* General Styles */
        
        img {
            max-width: 100%;
        }
        .margin {
            margin-left: 15px !important;
            margin-right: 15px !important;
        }
		.clear {
        	float: none !important;
            display: block !important;
            width: 100% !important;
            margin-bottom: 10px !important;
        }
        
        /* Email Container */
        
        .email-container {
            width: 100% !important;
        }
        .main-content,
        .main-content {
            width: 100% !important;
        }
        
        /* Header and Navigation */
        
        .nav-mod {
            padding: 20px 0 0 0 !important;
        }
        .nav-mod td {
            width: 100% !important;
            display: block;
            text-align: center;
        }
        .nav-mod td .soc {
            width: 56px !important;
            padding: 10px 0 !important;
        }
        .masthead {
            padding: 0 10px !important;
        }
        .image img {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
        .header-module table {
            width: 100% !important;
        }
        .header-module table td {
            width: 50% !important;
            text-align: center;
        }
        .cdeworld-logo,
        .subscribe-button {
            margin: 0 !important;  
            padding: 0 !important;
        }
        .cdeworld-logo {
            max-width: 95%;
            padding: 10px 0 !important;
        }
        .subscribe-button img {
            max-width: 73% !important;
            height: auto !important;
        }
        .main-image img {
            border: none !important;
        }
        .newsletter-title {
            font-size: 1.2em !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        
        /* Modules */
        
        .module-title {
            padding: 0 15px !important;
        }
        .module-body {
            margin: 0 15px !important;
        }
        .columns td {
            width: 100% !important;
            display: block !important;
        }
        .link {
            padding: 12px 10px !important;
            display: inline-block !important;
            background-color: #2f84c0 !important;
            color: #ffffff !important;
            text-decoration: none !important;
            margin-bottom: 15px !important;
            margin-top: 7px !important;
        }
        
        /* Section End */
        .section-end-mod table {
            margin: 12px 15px 0 15px !important; 
        }
        
        /* Divider */
        .divider {
            text-align: center !important;
        }
        
        .featured-article {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
        }
    }
    </style>
</head>
<body style="background-color: #f9f6f1;">
    <table class="email-container" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td>
				<div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
				 	<a href="https://cdeworld.com"></a>
				</div>
			</td>
		</tr>
        <tr>
            <td bgcolor="#f9f6f1" align="center" style="padding: 8px;">
                <!-- Main Table -->
                <table class="main-content" width="662" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border: 1px solid #eae9e2; background-color: #ffffff;">
                    <!-- Main Content -->
                    <tr>
                        <!-- "Navigation" Module -->
                        <td class="nav-mod" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; text-align:right; padding:20px 32px 0px 0px;">    
                            <table cellspacing="0" cellpadding="0" border="0" align="right">
                                <tr>
                                    <td align="right">
                                        December 2017 | <a href="http://www.cdeworld.com" target="_blank" style="color:#2f84c0;">Visit Our Website</a> | <a href="http://aegispublications.com/news/cdeworld/2017/12/regen-thematic.html" target="_blank" style="color:#2f84c0;">Read Online</a> | <a href="mailto:?subject=FW: Regenerative Dentistry eNews!&amp;body=I thought you might be interested in this: http://aegispublications.com/news/cdeworld/2017/12/regen-thematic.html" target="_blank" style="color:#2f84c0;">Forward to a Colleague</a> |&nbsp;
                                    </td>
                                    <td align="right">
                                        <img class="soc" src="http://aegispublications.com/news/ce/2016/templates/soc-2.png" alt="" width="33" height="14" usemap="#Map2" style="padding-top:1px;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- End of Navigation Module -->
                    </tr>
                    <tr>
                        <!-- Masthead Ad -->
                        <td align="center" class="masthead image" style="font-family:Arial, sans-serif; padding:21px 32px 20px 0px;">
                            <a href="http://us.guidor.com/introvideo.html?utm_source=CDEWorld&utm_medium=eNewsletter&utm_campaign=Apr2017" target="_blank"><img class="ads" src="http://aegispublications.com/news/cdeworld/2017/12/masthead-banner.png" width="600" height="80" style="margin:0 0 0 34px; border: 1px solid #efefef;" border="0"/></a>
                        </td>
                        <!-- End of Masthead Ad -->
                    </tr>
                    <tr>
                        <!-- Header Module -->
                        <td class="header-module">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>
                                        <a href="http://www.cdeworld.com" target="_blank">
                                            <img class="cdeworld-logo" src="http://aegispublications.com/news/cdeworld/2017/logos/cde-logo.jpg" width="420" height="85" alt="CDEWorld" style="margin:0 18px 27px 22px;" border="0">
                                        </a>
                                    </td>
                                    <td class="subscribe-button" width="170" style="padding-bottom: 31px; padding-left: 20px; padding-right: 28px;"><a href="http://aegispublications.com/machform/view.php?id=146&hq_e=el&hq_m=4197608&hq_l=5&hq_v=aa181f797d" target="_blank"><img src="http://aegispublications.com/news/cdeworld/2014/10/email-subscribebtn.png" border="0" style="height:45px;" /></a></td>
                                </tr>
                            </table>
                        </td>
                        <!-- End of Header Module -->
                    </tr>
                    <tr>
                        <!-- Image Banner -->
                        <td class="main-image banner" align="center">
                   		  <img alt="" src="http://aegispublications.com/news/cdeworld/2017/12/regen.jpg" style="margin:5px 0 1px 0; border:solid 1px #aaaaaa;" width="600"> 
                        </td>
                        <!-- End of Image Banner -->
                    </tr>
                    <tr>
                        <!-- Newsletter Title Module -->
                        <td class="newsletter-title" style="font-family:Arial, sans-serif; font-size:28px; font-weight:bold; padding: 1em 32px; color:#333333;">
                       Regenerative Dentistry CE Opportunities         
                      </td>
                    	
                        <!-- End of Newsletter Title Module -->
                    </tr>
        <!--END OF THE BEGINNING-->

        <!--LIVE WEBINAR WITH HEADER-->
                <tr>
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding: 0 32px 0 32px; line-height:27px;">Featured Live Webinars</div>
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Managing Tooth Loss and Esthetics in a Single Visit</span>
                                <div style="margin:8px 0;">
                                    Tuesday, November 7, 2017: 7 PM ET (4 PM PT)<br>
                                    <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                        <tr>
                                            <td valign="top" width="48%">
                                                Presenter: David Burt, DDS<br>
                                                Provider: Dental Learning Systems, LLC<br>
                                                Commercial Supporter: <em>Parkell</em>
                                       	  </td>
                                            <td valign="top">
                                                Credits: 1 Interactive CEU<br>
                                                Cost: Free
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a class="link" href="https://cdeworld.com/webinars/register/20829" target="_blank" style="color:#2f84c0;">REGISTER NOW</a> 
                            </div>
        <!--END LIVE WEBINAR WITH HEADER SECTION-->
        
        <!--START LIVE WEBINAR WITHOUT HEADER-->
							<div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Advances in Site Development to Support the Restorative Result</span>
                                <div style="margin:8px 0;">
                                    Thursday, November 30, 2017: 7 PM ET (4 PM PT)<br>
                                    <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                        <tr>
                                            <td valign="top" width="48%">
                                                Presenter: Barry P. Levin, DMD<br>
                                                Provider: AEGIS Publications, LLC<br>
                                                Commercial Supporter: <em>Nobel Biocare</em>
                                       	  </td>
                                            <td valign="top">
                                                Credits: 1 Interactive CEU<br>
                                                Cost: Free
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a class="link" href="https://cdeworld.com/webinars/register/20748" target="_blank" style="color:#2f84c0;">REGISTER NOW</a> 
                            </div>
                        </td>
                    </tr>
        <!--START LIVE WEBINAR WITHOUT HEADER-->

        <!--START ON-DEMAND WEBINAR WITH HEADER-->
                    <tr>
                        <!-- Featured On-Demand Module -->
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; clear:both; font-weight:bold; color:#333333; padding: 0 32px 0 32px; line-height:27px;">Featured On-Demand Webinars</div>
                            <!-- Webinar # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Socket Augmentation and Ridge Preservation to Improve Implant Outcomes</span>
                                <div style="margin:8px 0;">
                                    <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                        <tr>
                                            <td valign="top" width="48%">
                                                Presenter: Tara Aghaloo, DDS, MD, PhD<br>
                                                Provider: Dental Learning Systems, LLC <br>
                                                Commercial Supporter: <em>Geistlich Biomaterials</em>
                                          </td>
                                            <td valign="top">
                                                Credits: 1 Self-Study CEU<br>
                                                Cost: Free
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a class="link" href="https://cdeworld.com/webinars/20592-Socket_Augmentation_and_Ridge_Preservation_to_Improve_Implant_Outcomes?utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">CLICK HERE TO VIEW THE WEBINAR</a> 
                            </div>
                            <!-- End of Webinar # -->
                            
                        </td>
                    	<!-- End of Featured On-Demand Module -->
                    </tr>
        <!--END ON-DEMAND WEBINAR WITH HEADER-->

        <!--START ON-DEMAND WEBINAR WITHOUT HEADER-->
                    <tr>
                        <!-- Featured On-Demand Module -->
                        <td>
                            <!-- Webinar # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Decisions for Successful Bone Grafting</span>
                                <div style="margin:8px 0;">
                                    <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                        <tr>
                                            <td valign="top" width="48%">
                                                Presenter: Mike M. Chen, DMD<br>
                                                Provider: Dental Learning Systems, LLC <br>
                                                Commercial Supporter: <em>Sunstar</em>
                                          </td>
                                            <td valign="top">
                                                Credits: 1 Self-Study CEU<br>
                                                Cost: Free
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <a class="link" href="https://cdeworld.com/webinars/20582-Decisions_for_Successful_Bone_Grafting?utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">CLICK HERE TO VIEW THE WEBINAR</a> 
                            </div>
                            <!-- End of Webinar # -->
                            
                        </td>
                    	<!-- End of Featured On-Demand Module -->
                    </tr>
        <!--END ON-DEMAND WEBINAR WITHOUT HEADER-->

        <!--WEBINAR LIBRARY LINK-->
                    <tr>
                        <!-- Section-end Link -->
                        <td class="section-end-mod">
                            <table cellpadding="0" cellspacing="0" border="0" align="left" style="border: 1px solid #e6e6e6; margin-top: 12px; margin-left: 32px;">
                                <tr>
                                    <td>
                                        <div style="padding: 18px 20px; font-family:Arial, sans-serif; font-size: 12px; line-height:1.4em; color:#525252;">
                                            <a href="https://cdeworld.com/webinars" target="_blank" style="color: #2469aa; text-decoration: none;">Visit the CDEWorld Library to access more Webinars across the many dental disciplines.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- End of Section-end Link -->
                    </tr>
        <!--END WEBINAR LIBRARY LINK-->

        <!--FEATURED CE COURSE WITH HEADER-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>

                    <tr>
                        <!-- Featured Courses Module -->
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding: 0 32px 0 32px;line-height:27px;">Featured CE Courses</div>
                            <!-- Course # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:25px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">A Novel Technique in Root-Coverage Procedure: The Fibrin-Assisted Soft-Tissue Promotion Concept</span><br />
                                Alexandre-Amir Aalam, DDS; Alina Krivitky Aalam, DDS; and Joseph Choukroun, MD<br>
                                <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                    <tr>
                                        <td width="48%" height="32" valign="top">
                                            Provider: AEGIS Publications, LLC<br>
                                            Source: <em>Compendium</em>
                                        </td>
                                        <td valign="top">
                                            Credits: 2 Self-Study CEU<br>
                                            Cost: $16
                                        </td>
                                    </tr>
                                </table>
                                <a class="link" href="https://cdeworld.com/courses/5063-A_Novel_Technique_in_Root-Coverage_Procedure:The_Fibrin-Assisted_Soft-Tissue_Promotion_Concept?=&q=a%20novel%20technique%20in%20root-coverage&utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">FOR MORE INFORMATION</a> 
                            </div>
                            <!-- End of Course # -->
        <!--END FEATURED CE COURSE WITH HEADER-->

        <!--START FEATURED CE COURSE WITHOUT HEADER-->
                            <!-- Course # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:25px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Socket Preservation for the General Practitioner</span><br />
                                Terry L. Work, DMD<br>
                                <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                    <tr>
                                        <td valign="top" width="48%">
                                            Provider: Dental Learning Systems, LLC<br>
                                            Source: <em>CDEWorld</em><br>
                                            Commercial Supporter: <em>Instrumentarium Dental Inc.</em>
                                            
                                        </td>
                                        <td valign="top">
                                            Credits: 2 Self-Study CEU<br>
                                            Cost: $18
                                        </td>
                                    </tr>
                                </table>
                              <a class="link" href="https://cdeworld.com/courses/20556-Socket_Preservation_for_the_General_Practitioner?c=305&utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">FOR MORE INFORMATION</a> 
                            </div>
                            <!-- End of Course # -->
        <!--END FEATURED CE COURSE WITHOUT HEADER-->

                            <!-- Course # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:25px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Prosthetic Management of Gingival Recession Around Implants: Lessons Learned from Staged-Approach Treatment Planning</span><br />
                                Louis R. Marion, DMD, MS; and Leslie Stone Hirsh, DDS<br>
                                <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                    <tr>
                                        <td valign="top" width="48%">
                                            Provider: AEGIS Publications, LLC<br>
                                            Source: <em>Compendium</em>
                                        </td>
                                        <td valign="top">
                                            Credits: 2 Self-Study CEU<br>
                                            Cost: $16
                                        </td>
                                    </tr>
                                </table>
                              <a class="link" href="https://cdeworld.com/courses/4869-Prosthetic_Management_of_Gingival_Recession_Around_Implants:Lessons_Learned_from_Staged-Approach_Treatment_Planning?=&q=prosthetic%20management%20of%20gingival%20recession&utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">FOR MORE INFORMATION</a> 
                            </div>
                            <!-- End of Course # -->
                            <!-- Course # -->
                            <div class="module-body" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:25px 32px 15px 32px; line-height:16px;">
                                <span style="color:#333333; font-weight: bold;">Innovations for Minimally Invasive Esthetic Implant Surgery</span><br />
                                Marc L. Nevins, DMD, MMSc<br>
                                <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0" style="padding:5px 0;">
                                    <tr>
                                      <td valign="top" width="48%">
                                            Provider: Dental Learning Systems, LLC<br>
                                            Source: <em>CDEWorld</em><br>
                                            Commercial Supporter: <em>OsteoHealth</em> 
                                        </td>
                                        <td valign="top">
                                            Credits: 2 Self-Study CEU<br>
                                            Cost: $18
                                        </td>
                                    </tr>
                                </table>
                              <a class="link" href="https://cdeworld.com/courses/20588-Innovations_for_Minimally_Invasive_Esthetic_Implant_Surgery?=&q=innovations%20for%20minimally%20invasive%20esthetic%20implant%20surgery&utm_source=CDEWorld&utm_medium=Thematic&utm_campaign=Regenerative" target="_blank" style="color:#2f84c0;">FOR MORE INFORMATION</a> 
                            </div>
                            <!-- End of Course # -->

                        </td>
                    </tr>

        <!--START END OF FEATURED CE SECTION -->
                    <tr>
                        <td class="section-end-mod">
                            <table cellpadding="0" cellspacing="0" border="0" align="left" style="border: 1px solid #e6e6e6; margin-top: 12px; margin-left: 32px;">
                                <tr>
                                    <td>
                                        <div style="padding: 18px 20px; font-family:Arial, sans-serif; font-size: 12px; line-height:1.4em; color: #525252;">
                                          <a href="https://cdeworld.com/courses" target="_blank" style="color:#2469aa; text-decoration: none;">Visit the CDEWorld Library for access to additional dental CE courses!</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- End of Featured Course Module -->
                    </tr>
        <!--END END OF FEATURED CE SECTION -->


        <!--START CENTER BANNER-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    
                    <tr>
                        <!-- Center Banner Ad Module -->
                    	<td class="masthead image" align="center">
                   		  <a href="http://us.guidor.com/gumr-paroexr-chlorhexidine-gluconate-oral-rinse-usp-0-12.html?utm_source=CDEWorld&utm_medium=eNewsletter&utm_campaign=Apr2017" target="_blank">
                    			<img class="ads" src="http://aegispublications.com/news/cdeworld/2017/12/center-banner.png" width="600" height="80" style="border: 1px solid #efefef;" border="0"/>
                    		</a>
                    	</td>
                    	<!-- End of Center Banner Ad Module -->
                    </tr>
    <!--END CENTER BANNER-->
    
    <!--FEATURED ARTICLE WITH HEADER-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    
                    <tr>
                        <!-- Featured Article Module -->
                        <td>
                    	    <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; clear:both; font-weight:bold; color:#333333; padding:0 32px 0 32px; line-height:27px;">Featured Regenerative Dentistry Articles</div>
                            <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <!-- Article - Only -->
                                    <td valign="top">
                                        <div class="module-body featured-article" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                            <span style="color:#333333; font-weight: bold;">Narrow-Diameter Implants: Dual Function as a Tent Pole for Vertical Ridge Augmentation and a Guide for Definitive Implant Position</span><br />
                                    		Takanori Suzuki, DDS, PhD; Ismael Khouly, DDS, MS, PhD; Sang-Choon Cho, DDS; and Stuart Froum, DDS<br>
                                            <em>Compendium</em><br>
                                          <a class="link" href="https://www.aegisdentalnetwork.com/cced/2017/04/narrow-diameter-implants-dual-function-as-a-tent-pole-for-vertical-ridge-augmentation-and-a-guide-for-definitive-implant-position" target="_blank" style="color:#2f84c0;">READ MORE</a> 
                                        </div>
                                    </td>
                                    <!-- End of Article - Only -->                                
                                </tr>
    <!--END FEATURED ARTICLE WITH HEADER-->

    <!--FEATURED ARTICLE WITHOUT HEADER-->
                                <tr>
                                    <!-- Article - Only -->
                                    <td valign="top">
                                        <div class="module-body featured-article" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                            <span style="color:#333333; font-weight: bold;">Regenerative Endodontics: Tissue engineering in clinical practice</span><br />
                                    		James Baker, DMD; Brooke Blicher, DMD; and Rebekah Lucier Pryles, DMD<br>
                                            <em>Inside Dentistry</em><br>
                                          <a class="link" href="https://www.aegisdentalnetwork.com/id/2017/11/regenerative-endodontics" target="_blank" style="color:#2f84c0;">READ MORE</a> 
                                        </div>
                                    </td>
                                    <!-- End of Article - Only -->                                
                                </tr>
                            </table>        
                        </td>
                        <!-- End of Featured Article -->
                    </tr>
    <!--END FEATURE ARTICLE WITHOUT HEADER-->
    
    <!--START EBOOK-->
                    <tr>
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                    </tr>
                    
                    <tr>
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding:0 32px 0 32px; line-height:27px;">Featured eBook</div>
                          <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td valign="top">
                                        <a href="https://cdeworld.com/ebooks/Factors-to-Consider-for-Successful-Bone-Grafting-Cases" target="_blank">
                                            <img class="margin" src="https://cdeworld.com/media/12762" width="154" border="0" style="margin:15px 0 15px 32px;">
                                        </a>
                                    </td>
                                    <td valign="top" width="70%">
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:13px; color:#676262; margin:15px 42px 15px 32px; line-height:18px;">
                                            <span style="color:#333333; font-weight: bold;">
Factors to Consider for Successful Bone Grafting Cases</span>
                                            <div style="margin:8px 0;">
                                                <strong>By:</strong> Mike M. Chen, DMD, DICOI<br>
<strong>Supported By: </strong><em>Sunstar Americas, Inc</em><br>
                                                <strong>Cost: </strong>Free | <strong>Credits:</strong> 2 Self-Study CEU 
                                          </div>
                                            <div style="margin-top: 4px;">This eBook reviews basic types of bone grafting procedures and classifications of bone grafting materials, and illustrates a technique for the use of a new alloplastic bone material in the context of regenerating a socket defect.
</div>
                                            <a href="https://cdeworld.com/ebooks/Factors-to-Consider-for-Successful-Bone-Grafting-Cases" target="_blank" style="color: #fff;display:inline-block; margin-top:14px; background-color:#2f84c0;text-decoration: none;padding: 10px 12px;border-radius: 5px;">Download your free eBook</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="section-end-mod">
                            <table cellpadding="0" cellspacing="0" border="0" align="left" style="border: 1px solid #e6e6e6; margin-top: 12px; margin-left: 32px;">
                                <tr>
                                    <td>
                                        <div style="padding: 18px 20px; font-family:Arial, sans-serif; font-size: 12px; line-height:1.4em; color:#525252;">
                                            <a href="https://cdeworld.com/ebooks" target="_blank" style="color: #2469aa; text-decoration: none;">Visit the CDEWorld eBook Library for access to the dental information you need, when you need it.</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- End of Featured eBook -->
                    </tr>
        <!--END EBOOK-->
                    
        <!--FEATURED EVENT-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    <tr>
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding:0 32px 0 32px; line-height:27px;">Featured Event</div>
                          <table class="columns" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td valign="top">
                                        <a href="https://tufts.cdeworld.com/events/580" target="_blank">
                                            <img class="margin" src="https://tufts.cdeworld.com/media/14227" width="154" height="204" border="0" style="margin:15px 0 15px 32px;">
                                        </a>
                                    </td>
                                    <td valign="top" width="70%">
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:13px; color:#676262; margin:15px 42px 15px 32px; line-height:18px;">
                                            <span style="color:#333333; font-weight: bold;">Lasers in Dentistry and Oral & Maxillofacial Surgery</span>
                                            <div style="margin:8px 0;">
                                                <strong>November 18, 2017 | Boston, MA | 7 CEU</strong>
                                            </div>
                                            <div style="margin-top: 4px;">In this hands-on course, Dr. Strauss will discuss the most popular laser wavelengths, physics of laser surgery, means of controlling a laser's effect on tissue, and the three basic techniques of laser use. All this will be backed up by a variety of real-life cases that will illustrate the potential of this exciting technology and an opportunity for participants to use the lasers!
</div>
                                            <a class="link" href="https://tufts.cdeworld.com/events/580" target="_blank" style="color:#2f84c0;">READ MORE</a> 
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
        <!--END FEATURED EVENT-->

        <!--START FEATURED VIDEO-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    <tr>
                        <!-- Featured Video Module -->
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; clear:both; font-weight:bold; color:#333333; padding:0 32px 0 32px; line-height:27px;">Featured Video</div>
                            <table class="columns">
                                <!-- Video -->
                                <tr>
                                	<td valign="top">
                                        <a href="https://www.youtube.com/watch?v=vAnVC9oCihc" target="_blank"><img class="margin" src="http://aegispublications.com/news/cdeworld/2017/12/video.jpg" alt="" border="0" style="margin:15px 23px 15px 32px;"></a>
                                    </td>
                                    <td valign="top">
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 23px 15px 32px; line-height:16px; width:276px;">
                                        <div style="margin-bottom: 5px;"> <strong>Placing bone graft is easy with GUIDOR® easy-graft®</strong><br>
</div>
                                                <a class="link" href="https://www.youtube.com/watch?v=vAnVC9oCihc" target="_blank" style="color:#2f84c0;">Click on the video to learn more.</a> </div>
                                    </td>
                                </tr>
                                <!-- End of Video -->
                            </table>
                        </td>
                        <!-- End of Featured Video Module -->
                    </tr>
        <!--END FEATURED VIDEO-->

        <!--START FEATURED WEBINAR SECTION-->       
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    <tr>
                        <td>
                            
                            <table class="columns" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    
                                    <td width="50%" valign="top">
                                    <a href="https://cdeworld.com/webinars/20841-A_Multidisciplinary_Approach_in_Improving_the_Health_of_Patients_with_Diabetes" target="_blank"><img src="http://aegispublications.com/news/cdeworld/2017/12/webinar.jpg" alt="" width="140" class="clear" style="float:right; margin:0 47px 0 27px;"></a>
                                    	<div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding:0 32px 0 32px;line-height:27px;">Featured Webinar</div>
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                          <div style="margin:8px 0;"><strong>A Multidisciplinary Approach in Improving the Health of Patients with Diabetes</strong><br>Karen Lau, MS, RD, LDN, CDE<br>
October 2017 Course - Expires October 31st, 2020
                                          <a href="https://cdeworld.com/webinars/20841-A_Multidisciplinary_Approach_in_Improving_the_Health_of_Patients_with_Diabetes" target="_blank" style="color:#2f84c0;"><br>
                                          READ MORE</a></div>

                                      </div>
                                    </td>
                                   
                                </tr>
                            </table>
                        </td>
                    </tr>
        <!--END FEATURED WEBINAR SECTION-->

        <!--START FEATURED PRODUCT SECTION-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    <tr>
                        <!-- Featured Product Module -->
                        <td>
                            
                            <table class="columns" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <!-- Product # -->
                                    <td width="50%" valign="top">
                                    <a href="http://us.guidor.com/guidorr-easy-graftr-classic-alloplastic-bone-grafting-system.html" target="_blank"><img src="http://aegispublications.com/news/cdeworld/2017/12/feat-prod.png" alt="" width="240" class="clear" style="float:right; margin:0 27px 0 0;"></a>
                                    	<div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding:0 32px 0 32px;line-height:27px;">Featured Product</div>
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;">
                                          <div style="margin:8px 0;"><strong>GUIDOR® easy-graft® CLASSIC Alloplastic Bone Grafting System</strong><br>The first particulate bone grafting material designed to be syringed directly into a bone defect, hardening into a stable, porous scaffold in approximately one minute and eliminating the need for a dental membrane in many cases.<br>
                                          <a href="http://us.guidor.com/guidorr-easy-graftr-classic-alloplastic-bone-grafting-system.html" target="_blank" style="color:#2f84c0;">READ MORE</a></div>

                                      </div>
                                    </td>
                                    <!-- End of Product # -->
                                </tr>
                            </table>
                        </td>
                        <!-- End of Featured Product Module -->
                    </tr>
        <!--END FEATURED PRODUCT SECTION-->
        
        <!--START NON-FEATURED PRODUCTS-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    
                    <tr>
                        <!-- Products Module -->
                        <td>
                            <div class="module-title" style="font-family:Arial, sans-serif; font-size:16px; font-weight:bold; color:#333333; padding:0 32px 0 32px;line-height:27px;"><strong>Regenerative Dentistry Products </strong></div>
                            <table class="columns" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <!-- Product # -->
                                    <td width="50%" valign="top">
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;"> 
                                          <a class="link" href="https://www.aegisdentalnetwork.com/id/products/zimmer/biomend-extend/?pc=bone-grafting-tissue-regeneration-materials" target="_blank"><img class="clear" src="http://aegispublications.com/news/cdeworld/2017/12/p1.jpg" width="140" alt="" style="float:right;"></a>
                                            <span style="color:#333333; font-weight: bold;">BioMend Extend</span><br />
                                            <em>Zimmer Biomet Dental</em>
                                            <div style="margin:8px 0;">BioMend Extend™ from Zimmer is an absorbable membrane rigid enough to maintain space. It is absorbable and eliminates second-stage surgery because it is designed to reduce wound trauma and surgicial chair tell. Its cell-occlusive properties allow it to serve as a barrier to prevent epithelial cell migration and allow passage of essential nutrients. The rigidness of BioMend Extend provides rigid scaffold for tissue regeneration.</div>
                                          <a class="link" href="https://www.aegisdentalnetwork.com/id/products/zimmer/biomend-extend/?pc=bone-grafting-tissue-regeneration-materials" target="_blank" style="color:#2f84c0;">READ MORE</a> 
                                        </div>
                                    </td>
                                    <!-- End of Product # -->
                                    <!-- Product # -->
                                    <td width="50%" valign="top">
                                        <div class="margin" style="font-family:Arial, sans-serif; font-size:12px; color:#54575A; margin:15px 32px 15px 32px; line-height:16px;"> 
                                          <a class="link" href="  https://www.aegisdentalnetwork.com/id/products/nobel-biocare-llc/creos-allograft-bone-regenerative-solutions/?pc=bone-grafting-tissue-regeneration-materials" target="_blank"><img class="clear" src="http://aegispublications.com/news/cdeworld/2017/12/p2.jpg" width="140" alt="" style="float:right;"></a>
                                            <span style="color:#333333; font-weight: bold;">Creos™ Allograft Bone Regenerative Solutions</span><br />
                                            <em>Nobel Biocare USA, LLC</em>
                                            <div style="margin:8px 0;">Creos™ allograft bone regenerative solutions by Nobel Biocare is a product portfolio that brings together a full selection of regenerative solutions in three core products: particulate bone graft, demineralized bone matrix (dbm) putty and a barrier membrane that gives clinicians flexibility to choose the optimum solution for their patient. </div>
                                          <a class="link" href="  https://www.aegisdentalnetwork.com/id/products/nobel-biocare-llc/creos-allograft-bone-regenerative-solutions/?pc=bone-grafting-tissue-regeneration-materials" target="_blank" style="color:#2f84c0;">READ MORE</a> 
                                        </div>
                                    </td>
                                    <!-- End of Product # -->
                                </tr>
                            </table>
                        </td>
                        <!-- End of Products Module -->
                    </tr>
        <!--END NON-FEATURED PRODUCTS-->

        <!--START OF THE END OF THE EMAIL-->
                    <tr>
                        <!-- Divider -->
                        <td class="divider" align="center"><img src="http://aegispublications.com/news/cdeworld/2014/10/theme-email-divide.jpg" width="600" height="45" alt="" style="margin: 12px 0;"></td>
                        <!-- End of Divider -->
                    </tr>
                    
                    <tr>
                        <!-- Fine Print - Credits -->
                        <td class="masthead image">
                            <img class="ads" src="http://aegispublications.com/news/cdeworld/2017/08/images/dls-fineprint.jpg" width="540" alt="" style="margin-left:25px;">
                        </td>
                        <!-- End of Fine Print - Credits -->
                    </tr>
                    


                    
                    <!-- End of Main Content -->
                </table>    
          </td>
        </tr>
    </table>
	<table width="662" cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td align="center" style="font-family:Arial, sans-serif; font-size:11px; text-align:center; color:#666666; font-size:10px;" valign="middle">
                  <br>
            You received this e-mail because you are a customer of <a href="https://www.aegisdentalnetwork.com" target="_blank" style="color:#666 !important; text-decoration:none;">AEGIS Dental Network</a> | CDEWorld.<br />To ensure delivery, please add <a href="mailto:reply-215892@news.aegispublications.com" style="color:#666 !important; text-decoration:none;" target="_blank">reply-215892@news.aegispublications.com</a> to your address book<br />
            %%PLUGIN_UNSUBSCRIBE: 1146575-UNSUBSCRIBE%% <br />
                 CDEWorld an AEGIS Publication | 104 Pheasant Run, Suite 105 | Newtown, PA 18940 | <a href="https://www.aegisdentalnetwork.com/privacy-policy" target="_blank" style="color:#666; text-decoration:none;">Privacy Policy</a><br><br></td>
            </tr>
</table>
	<map name="Map">
	  <area shape="rect" coords="-1,2,26,25" href="https://www.facebook.com/pages/CDE-World/141910839256792?ref=br_tf" target="_blank">
	  <area shape="rect" coords="29,2,51,30" href="https://twitter.com/CDEWorld#" target="_blank">
	  <area shape="rect" coords="54,2,77,33" href="mailto:?subject=FW: Regenerative Dentistry eNews!&amp;body=I thought you might be interested in this: http://aegispublications.com/news/cdeworld/2017/12/regen-thematic.html">
	</map>
	<map name="Map2" id="Map2">
	  <area shape="rect" coords="17,0,32,13" href="https://twitter.com/CDEWorld#" target="_blank">
	  <area shape="rect" coords="0,0,16,14" href="https://www.facebook.com/pages/CDE-World/141910839256792?ref=br_tf" target="_blank">
	</map>
</body></html>