
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#container {
  display: flex;
}
#main-form {

  float: left;
  width: 30%;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  box-shadow: 1px 4px 6px rgba(50,50,93,.51), 1px 3px 6px rgba(0,0,0,.38);
  border-radius: 4px;

}
#text-results {
  border: solid #000 1px;
  float: right;
  width: 70%;
  padding: 20px;
  margin: 0px 20px 0px 20px;
}

.copyHtml {
  width: 50%;
  max-height: 50px;
}

.label{

}
input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  margin: 2px 0 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.lyris{

  padding: 5px;
  border-radius: 4px;
}

.copyArea{
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}


.common-Button {
  flex-shrink: 0;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #5d6291;
  text-decoration: none;
  transition: all .15s ease;
}

.common-Button {
  color: #fff;
  background: #2e0dc2;
}